@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root{
  --mainBlue:#205DA5;
  --mainBlack:#222121;
  --subButton:#205DA5;
}

body {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: 'Rubik', sans-serif;

}

p {
  font-size: 1.2rem;
}

.header{
  margin-top: 80px;
}

.navbar{
  background-color: white;
}

header button, 
.header-btn,
.header-btn:hover {
  background-color: #6C63FF;
  color: #fff;
  border: solid 2px #6C63FF;
  border-radius: .5rem;
  padding: .5rem;
  font-size: 20px;
  /* padding-left: 1.6rem; */
  text-decoration: none;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 150px;
}
.header-btn:hover{
  opacity: 0.8;
  background-color: #6C63FF;
  color: #fff;
}
footer .button {
  background-color: #205DA5;
  color: #fff;
  border: solid 2px #205DA5;
  margin-bottom: 20px;
}

/*nav */
.navbar-brand img {
  height: 64px;
  max-width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: var(--mainBlack);
}

.nav-item.active {
  color: #6c63ff !important;
  border-bottom: 4px solid #6c63ff;
}

.nav-item.active a {
  color: #6c63ff !important;
}

.navbar-toggler{
  outline-color: var(--mainBlue)!important;
}
.nav-link{
  color: var(--mainBlack);
  text-transform: capitalize;
}
.nav-link:hover{
  color: var(--mainBlue);
}

/* feature */
.feature-icon{
  border: solid 1px var(--mainBlue);
}

.feature-icon img {
	width: 2rem;
	height: 2.2rem;
}

.feature-icon p {
	color: var(--subBlack);
  line-height: 2rem;
}
.feature-icon:hover{
  color: var(--mainYellow);
}

.feature-icon feature {
	font-size: 2rem;
}
.feature-underline{
  width: 4rem;
  height: 0.3rem;
  background: var(--mainBlue);
  
}

/*Bootsrap defautl changes */
.p-2 {
	padding: 1.3rem!important;
}

.text-muted {
	color: var(--subBlack)!important;
	line-height: 1.7rem;
}

.w-75 {
    width: 100%!important;
}

.mobile p {
  line-height: 2rem;
}

footer {
  padding: 25px;
}

footer, .footer-item p, .footer-item a {
  font-family: MuseoSans-100, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: normal;
  text-align: left;
  background-color: #E5E5E5;
  color: var(--mainBlack);
}

footer ul {
  list-style: none;
}

.copyright {
  padding: 20px 0;
}

footer .copyright .rights a, footer .copyright .other-links ul li a {
  font-weight: 300;
  color: #fff;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
    width: 3rem;
}

footer .nav-icon {
  border: solid 1px;
  border-radius: 50%;
  padding: 13px 0px 13px 0px;
  margin: 5px;
  margin-bottom: 35px;
  color: #222;
  text-decoration: none;
}

footer input {
  padding-left: 15px;
}

footer .copyright .other-links ul li {
  display: inline-block;
  float: left;
  margin-right: 30px;
  font-weight: 300;
}


@media screen and (min-width: 900px) {
    .mobile .download-icon {
    margin-top: -200px;
  }

    .mobile.row {
    margin-top: 100px;
  }
    .mobile .phone {
    margin-top: -2rem!important;
  }
}

@media screen and (max-width: 400px) {
   .download-icon {
      display: inline-flex;
      justify-content: center;
   } 
}