body{
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar{
    background-color: #FFFFFF
}
.nav-link{
color: black;
font-weight: 500;
font-size: 20px;
margin: 5px;

}

.nav-link:hover{
color: black;
opacity: 0.7;
}

.header{
    margin-top: 60px;
}

.header-link{
    background: #6C63FF;
border-radius: 10px;
padding: 10px 20px;
text-decoration: none;
}
.header-text{
    color: #222121;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-heading{
    font-weight: bold;
    color: #222121;
    padding-top: 60px;

}
.header a {
    text-decoration: none;
    color: #FFFFFF
}

.header-img{
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer { 
	width:100% !important;
	background: #E5E5E5;
	padding-top:20px;
	padding-left:30px;
	padding-bottom: 30px;
}

a{
	color:#000000;
	}
	
h4{
	font-weight: normal;
	font-size: 1em;
}

#email{
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
}


button {
	background-color: black;
	}
	
#ig{
	padding-right:20px;
	}

#fb{
	padding-right:20px;
	}

#tw{
	padding-right:20px;
	}

#yt{
	padding-right:20px;
	}
