*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-link{
color: #fff;
font-weight: 500;
font-size: 20px;
margin: 5px;

}

.nav-link:hover{
color: black;
opacity: 0.7;
}

.header{
    margin-top: 60px;
 }

 .heading{
    background:url('/assets/img/header.png') no-repeat !important;
    padding: 50px 50px;
    /* background-color: #2A56C6; */
    background-size: cover;
    background-position: center;
    /* width: 100vw; */
    height: 100vh;
 }

.feature .container-fluid{
    background-color: #FFFFFF !important;
}
.container-fluid{
    background-color: #2A56C6 !important;
}

.header-link{
    background: #6C63FF;
border-radius: 10px;
padding: 10px 20px;
text-decoration: none;
}
.header-text{
    color: #fff;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header-heading{
    font-weight: bold;
    color: #fff;
    padding-top: 60px;
margin-top: 50px;
}
.header a {
    text-decoration: none;
    color: #FFFFFF
}

.header-img{
    padding-top: 20px;
    padding-bottom: 20px;
}

.mobile-cont {
    padding-bottom: 150px;
}

.download-grp {
    width: 50%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download {
    width: 45%;
    height: 100%;
    border-radius: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.apple {
    background-image: url(../img/apple.png);
}

.android {
    background-image: url(../img/android.png);
}

#footer { 
	background: #2A56C6;
	padding-top:20px;
	padding-left:15px;
	padding-bottom: 30px;
}
.list-unstyled a{
    color: #fff !important;
    font-style:normal;
}

.track{
    padding: 50px 50px;
}

a{
	color:#000000;
	}
	
h4{
    color: #FFFFFF;
	font-weight: normal;
	font-size: 1em;
}
h5{
    color: #FFFFFF  
}
#Awe {
   color: #2A56C6 !important;
}

#email{
  width:100%;
  padding:12px;
  margin:8px 0;
  box-sizing:border-box;
}



button {
	background-color: black;
	}
	
#ig{
	padding-right:20px;
	}

#fb{
	padding-right:20px;
	}

#tw{
	padding-right:20px;
	}

#yt{
	padding-right:20px;
	}

.submit-button {
    background-color: #205DA5;
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    border: none;
    color: #ffffff;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

:root{
  --mainBlue:#205DA5;
  --subBlack:#222121;
}



.feature-icon{
  border: solid 1px var(--mainBlue);
}

.feature-icon img {
    height: 2rem;
}

.feature-icon p {
    color: var(--subBlack);
}

h6 {
    font-size: 1.25rem!important;
}

.feature-icon:hover{
  color: var(--mainYellow);
}

.feature-icon feature {
    font-size: 2rem;
}
.feature-underline{
  width: 4rem;
  height: 0.3rem;
  background: var(--mainBlue);
  
}

/*Bootsrap defautl changes */
.p-2 {
    padding: 1.3rem!important;
}

.text-muted {
    color: var(--subBlack)!important;
    line-height: 1.7rem;
}

.w-75 {
    width: 100%!important;
}

@media screen and (max-width: 400px) {
  .feature-underline, .feature h1 {
    margin-left: 80px!important;
  }
}
