@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";
@import "https://fonts.googleapis.com/css?family=Poppins:400,900'";

@font-face {
    font-family: google-sans;
    src: url(assets/fonts/GoogleSans-Regular.ttf);
}

:root{
    --mainBlue:#1B8CFB;
    --mainBlack:#222121;
}

body {
    margin-top: 6%;
    font-family: 'Poppins', sans-serif;
}

.google-font{
    font-family: google-sans;
}

nav .nav-item:hover,
nav .nav-item.router-link-active,
nav .nav-item.router-link-exact-active {
    color: var(--mainBlue);
}

a,
a:hover {
  text-decoration: none !important;
  color: var(--mainBlack);
}

.button,
.button:hover {
    background-color:  var(--mainBlue);
    color: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0,64,128,0.05);
    text-transform: uppercase;
    font-weight:600;
}

.bold-text {
    font-weight: 800;
    font-size: 45px;
    line-height: normal;
    text-align: left;
    color: #222121;
}

 /* responsive css for page */

@media screen and (max-width: 800px) {

    .bold-text {
        font-weight: 800;
        font-size: 24px;
    }

    .feature-group-left,
    .feature-group-right {
        position: relative;
        top: 0;
    }
}